<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MatchDay: All matches</title>

    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/matchday.css}" rel="stylesheet">

</head>
<body>

    <div class="container">

        <div id="logo" class="row">
            <a data-th-href="@{/matches}"><img data-th-src="@{/images/matchday_logo.png}"></a>
        </div>

        <div class="row">
            <table id="allMatches" class="table table-striped">
                <body>
                    <tr class="result" data-th-each="matchStatus : ${matchStatuses}">
                        <td class="teamA">[[${matchStatus.teamAName}]]</td>
                        <td class="score">[[${matchStatus.teamAScore}]]</td>
                        <td class="score">[[${matchStatus.teamBScore}]]</td>
                        <td class="teamB">[[${matchStatus.teamBName}]]</td>
                        <td>
                            <a class="btn btn-primary" data-th-href="@{|/match/${matchStatus.matchId}|}">See Match</a>
                        </td>
                    </tr>
                </body>
            </table>
        </div>

    </div>

</body>
</html>