<!DOCTYPE html>
<html>
<head>
    <title>MatchDay: All matches</title>
    <meta charset="UTF-8">
</head>
<body>

  <table>
      <tr data-th-each="matchStatus : ${matchStatuses}">
          <td>[[${matchStatus.teamAName}]]</td>
          <td>[[${matchStatus.teamAScore}]]</td>
          <td>-</td>
          <td>[[${matchStatus.teamBScore}]]</td>
          <td>[[${matchStatus.teamBName}]]</td>
          <td><a data-th-href="@{|/match/${matchStatus.matchId}|}">See Match</a></td>
      </tr>
  </table>

</body>
</html>